/* ==================================================
Global
==================================================*/

/* DON'T TOUCH THIS */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 20px;
  overflow-x: hidden;
}

.width {
  max-width: 1920px;
  min-width: 320px;
  padding: 0px 100px 0px 100px;
}

.padding-top-bottom {
  padding-top: 160px;
  padding-bottom: 160px;
}

body {
  font-family: "Raleway", sans-serif;
}

h2 {
  font-size: 48px;
  padding-bottom: 25px;
}

section {
  padding-top: 64px;
  padding-bottom: 64px;
}

.buttonLink {
  background-color: green;
  padding: 8px 32px;
  color: white;
  text-decoration: none;
  text-align: center;
  transition: all 0.3s ease-in-out;
}

.buttonLink:hover {
  background-color: rgb(8, 156, 8);
}

@media (max-width: 970px) {
  .width {
    padding: 0px 75px 0px 75px;
  }
}

@media (max-width: 750px) {
  .width {
    padding: 0px 50px 0px 50px;
  }
}

@media (max-width: 650px) {
  .width {
    padding: 0px 25px 0px 25px;
  }

  body {
    font-size: 18px;
  }

  h2 {
    font-size: 36px;
  }
}

/* DON'T TOUCH THIS */

/* ==================================================
HEADER
==================================================*/
header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  box-shadow: 0px 3px 5px 0px rgba(219, 219, 219, 0.75);
}

.contentHeader {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: end;

  /*für mobileNav nötig*/
  position: relative;
}

.contentHeader>a {
  height: 70%;
}

.contentHeader img {
  height: 70%;
}

nav {
  display: flex;
  justify-content: end;
  align-items: end;
  gap: 16px;
}

nav a,
.mobileNav a {
  text-decoration: none;
  color: black;
  border-bottom: 3px solid rgb(255, 255, 255);
  padding-bottom: 5px;
}

.naviLink {
  transition: all 0.4s ease-in-out;
}

.naviLink:hover {
  border-bottom: 3px solid rgb(8, 156, 8);
  color: rgb(8, 156, 8);
}

.naviLinkSelected {
  border-bottom: 3px solid green;
  color: green;
}

/* mobileNav */
.mobileNav {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 32px;
  padding: 16px 24px 150px 24px;
  background-color: rgba(0, 0, 0, 0.9);

  position: absolute;
  top: 0px;
  right: 0px;
  height: 100vh;
  transition: all 250ms ease-in-out;
}

.mobileNav .naviLinkSelected {
  border-bottom: 3px solid green;
  color: green;
}

.mobileNav a {
  color: white;
}

.closed {
  transform: translateX(105%);
}

#buttonHamburger {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

#buttonClose {
  border: none;
  background-color: transparent;
  cursor: pointer;
  align-self: flex-end;
  color: tomato;
  font-size: 24px;
  font-weight: bolder;
}

@media (max-width: 970px) {
  nav {
    display: none;
  }
}

@media (min-width: 970px) {
  .mobileNav {
    display: none;
  }

  #buttonHamburger {
    display: none;
  }
}

/* ==================================================
FOOTER
==================================================*/

footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(237, 237, 237);
  margin-top: auto;

}

.footer_main {
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  max-width: 1440px;
  padding: 32px 100px 32px 100px;
  width: 100%;
}

.footer_left {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}

.footer_logo {
  width: 300px;
  height: auto;
}

.footer_social_section {
  font-size: 24px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 16px;
  font-size: 32px;
}

.footer_social_section img {
  height: 48px;
  width: auto;
}

.footer_right {
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
}

.footer_link {
  text-decoration: none;
  color: green;
}

.footer_link:hover {
  text-decoration: underline;
  color: rgb(0, 182, 0);
}

.footer_social_logo {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

@media (max-width: 750px) {
  .footer_main {
    flex-direction: column;
    gap: 64px;
    padding-bottom: 64px;
  }

  .footer_left {
    gap: 64px;
  }

  .footer_right {
    text-align: center;
  }
}

@media (max-width: 400px) {
  .footer_main {
    padding-left: 16px;
    padding-right: 16px;
  }

  .footer_social_section img {
    height: 40px;
  }

  .footer_logo {
    width: 280px;
  }
}

/* ==================================================
ATF
==================================================*/
#atf {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contentATF {
  display: flex;
  justify-content: center;
  gap: 64px;
}

.contentATF img {
  width: 40%;
  border-radius: 16px;
  object-fit: cover;
}

.contentATF__text {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.contentATF__text p {
  flex: 1;
}

.contentATF__text a {
  align-self: flex-start;
  margin-bottom: 50px;
}

@media (max-width: 970px) {
  .contentATF {
    flex-direction: column;
  }

  .contentATF img {
    width: 100%;
  }
}

/* ==================================================
new-recipes
==================================================*/

.new_recipes {
  background-color: rgb(237, 237, 237);
  display: flex;
  justify-content: center;
}

.new_recipes h2 {
  font-family: "raleway";
  text-align: center;
}

.recipes {
  display: flex;
  gap: 10px;
  justify-content: space-between;
}

.recipes a {
  width: 23%;
  gap: 16px;
  transition: all 125ms ease-in-out;
}

.recipes a:hover {
  transform: scale(1.05);
}

.recipe img {
  aspect-ratio: 1/1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 16px;
}

.recipe {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: black;
}

.recipe span {
  text-align: center;
  font-weight: bold;
  padding-top: 5px;
}

@media (max-width: 970px) {
  .recipes {
    flex-direction: column;
    align-items: center;
    gap: 52px;
  }

  .recipes a {
    width: 50%;
  }
}

/* ==================================================
info
==================================================*/

.info {
  flex-direction: column;
  display: flex;
  align-items: center;

}

.info h2 {
  text-align: center;
}

.infoshape {
  flex-direction: row;
  display: flex;
  align-items: start;
  gap: 40px;
}

.infoshape p {
  width: 60%;
}

#wok {
  width: 40%;
  object-fit: cover;
  border-radius: 16px;
}


@media (max-width: 970px) {
  .infoshape {
    flex-direction: column-reverse;
  }

  #wok {
    width: 100%;
  }

  .infoshape p {
    width: 100%;
  }
}


/* ==================================================
receipt   La Villa Pizza
==================================================*/

h1 {
  font-size: 32px;
  margin-bottom: 16px;
}

.title {
  padding-top: 64px;
  padding-bottom: 64px;
}

.pizza-img {
  height: 200px;
  width: 100%;
  object-fit: cover;
  border-radius: 16px;
}

.title-signs {
  display: flex;
  gap: 20px;
}

.title-signs span {
  font-size: 16px;
}

.descripton {
  height: 16px;
  width: 16px;
}

/* ==================================================
receipt   Linguine Gamberetti (Normann)
==================================================*/

h1 {
  font-size: 32px;
  margin-bottom: 16px;
}

.title {
  padding-top: 64px;
  padding-bottom: 64px;
}

.linguine-img {
  height: 200px;
  width: 100%;
  object-fit: cover;
  border-radius: 16px;
}

.recipe-meta {
  display: flex;
  gap: 20px;
}

.recipe-meta span {
  font-size: 16px;
}

.descripton {
  height: 16px;
  width: 16px;
}

/* ==================================================
impress
==================================================*/


.impress {
  padding-top: 32px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 64px;
}

.impress p {
  margin-bottom: 16px;
}

.impress_link {
  text-decoration: none;
  color: green;
}

.impress_link:hover {
  text-decoration: underline;
  color: rgb(0, 182, 0);
}

@media (max-width: 750px) {
  .impress {
    text-align: center;
  }
}

@media (max-width: 750px) {
  .impress h1 {
    font-size: 28px;
  }

  .impress p {
    font-size: 14px;
  }

  .impress h2 {
    font-size: 24px;
  }
}


/* ==================================================
contact
==================================================*/
